# Processing Big Data - Data Ingestion
© Explore Data Science Academy

## Honour Code
I {OLUSOJI, ONIGBINDE}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).
    Non-compliance with the honour code constitutes a material breach of contract.



## Context 

To work constructively with any dataset, one needs to create an ingestion profile to make sure that the data at the source can be readily consumed. For this section of the predict, as the Data Engineer in the team, you will be required to design and implement the ingestion process. For the purposes of the project the AWS cloud storage service, namely, the S3 bucket service will act as your data source. All the data required can be found [here](https://processing-big-data-predict-stocks-data.s3.eu-west-1.amazonaws.com/stocks.zip).

<div align="center" style="width: 600px; font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/data_engineering/transform/predict/DataIngestion.jpg"
     alt="Data Ingestion"
     style="float: center; padding-bottom=0.5em"
     width=40%/>
     <p><em>Figure 1. Data Ingestion</em></p>
</div>

Your manager, Gnissecorp Atadgib, knowing very well that you've recently completed your Data Engineering qualification, asks you to make use of Apache Spark for the ingestion as well as the rest of the project. His rationale being, that stock market data is generated every day and is quite time-sensitive and would require scalability when deploying to a production environment. 

## Dataset - US Nasdaq




<div align="center" style="width: 600px; font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/data_engineering/transform/predict/Nasdaq.png"
     alt="Nasdaq"
     style="float: center; padding-bottom=0.5em"
     width=50%/>
     <p><em>Figure 2. Nasdaq</em></p>
</div>

The data that you will be working with is a historical snapshot of market data taken from the Nasdaq electronic market. This dataset contains historical daily prices for all tickers currently trading on Nasdaq. The up-to-date list can be found on their [website](https://www.nasdaq.com/)


The provided data contains price data dating back from 02 January 1962 up until 01 April 2020. The data found in the S3 bucket has been stored in the following structure:

```
     stocks/<Year>/<Month>/<Day>/stocks.csv
```
Each CSV file for every trading day contains the following details:
- **Date** - specifies trading date
- **Open** - opening price
- **High** - maximum price during the day
- **Low** - minimum price during the day
- **Close** - close price adjusted for splits
- **Adj Close** - close price adjusted for both dividends and splits
- **Volume** - the number of shares that changed hands during a given day

## Basic initialisation
To get you started, let's import some basic Python libraries as well as Spark modules and functions.

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *

Remember that we need a `SparkContext` and `SparkSession` to interface with Spark.
We will mostly be using the `SparkContext` to interact with RDDs and the `SparkSession` to interface with Python objects.

> ℹ️ **Instructions** ℹ️
>
>Initialise a new **Spark Context** and **Session** that you will use to interface with Spark.

In [29]:
#TODO: Write your code here
sc = SparkContext()
spark = SparkSession(sc)

## Investigate dataset schema
At this point, it is enough to read in a single file to ascertain the data structure. You will be required to use the information obtained from the small subset to create a data schema. This data schema will be used when reading the entire dataset using Spark.

> ℹ️ **Instructions** ℹ️
>
>Make use of Pandas to read in a single file and investigate the plausible data types to be used when creating a Spark data schema. 
>
>*You may use as many coding cells as necessary.*

In [32]:
#INSERTED
pd_df = pd.read_csv('stocks/2007/01/02/stocks.csv')
pd_df[:5]

,Date,Open,High,Low,Close,Adj Close,Volume,stock
0,2018-01-02,67.419998,67.889999,67.339996,67.599998,66.243683,1047800.0,A
1,2018-01-02,54.060001,55.220001,53.910000,55.169998,55.169998,2928900.0,AA
2,2018-01-02,52.330002,53.099998,51.900002,52.990002,51.647556,4084700.0,AAL
3,2018-01-02,81.599998,81.599998,81.599998,81.599998,81.599998,0.0,AAMC
4,2018-01-02,3.460000,3.460000,3.250000,3.250000,3.204487,2300.0,AAME

In [33]:
#INSERTED
pd_df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000,5.076000e+03
mean,80.408678,81.388041,77.965341,78.921924,76.959501,8.894758e+05
std,1531.759796,1534.803963,1426.378055,1428.790343,1422.659890,2.751321e+06
min,0.005000,0.005000,0.005000,0.005000,0.005000,0.000000e+00
25%,9.970000,10.150000,9.867500,10.020000,9.428198,3.690000e+04
50%,21.245000,21.780001,20.969999,21.445001,19.900460,1.897000e+05
75%,44.400002,45.322500,43.885001,44.602500,42.956839,7.222750e+05
max,101562.500000,101562.500000,93750.000000,93750.000000,93750.000000,8.067310e+07

In [34]:
#INSERTED
df = spark.read.csv('stocks/2018/01/02/stocks.csv', header=True)
df.show(5)

+----------+------------------+------------------+-----------------+-----------------+------------------+---------+-----+
|      Date|              Open|              High|              Low|            Close|         Adj Close|   Volume|stock|
+----------+------------------+------------------+-----------------+-----------------+------------------+---------+-----+
|2018-01-02| 67.41999816894531| 67.88999938964844|67.33999633789061|67.59999847412111| 66.24368286132811|1047800.0|    A|
|2018-01-02| 54.06000137329102| 55.22000122070313|53.90999984741211|55.16999816894531| 55.16999816894531|2928900.0|   AA|
|2018-01-02| 52.33000183105469|53.099998474121094| 51.9000015258789| 52.9900016784668| 51.64755630493164|4084700.0|  AAL|
|2018-01-02|  81.5999984741211|  81.5999984741211| 81.5999984741211| 81.5999984741211|  81.5999984741211|      0.0| AAMC|
|2018-01-02|3.4600000381469727|3.4600000381469727|             3.25|             3.25|3.2044866085052486|   2300.0| AAME|
+----------+------------------+------------------+-----------------+-----------------+------------------+---------+-----+
only showing top 5 rows

In [35]:
#TODO: Write your code here
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Adj Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- stock: string (nullable = true)

## Read CSV files

When working with big data, it is often not tenable to keep processing an entire data batch when you are in the process of development - this can be quite time-consuming. If the data is uniform, it is sufficient to work with a smaller subset to create basic functionality. Your manager has identified the year **1962** to perform the initial testing for data ingestion. 

> ℹ️ **Instructions** ℹ️
>
>Read in the data for **1962** using a data schema that purely uses string data types. You will be required to convert to the appropriate data types at a later stage.
>
>*You may use as many coding cells as necessary.*

In [36]:
#INSERTED
import os

stocks_data = []
parent_dir = r'stocks/2018/'
for subdir, dirs, files in os.walk(parent_dir):
    for file in files:
        if file.endswith(".csv"):
            stocks_data.append(os.path.join(subdir, file))           
        else:
            continue

In [37]:
#INSERTED
stocks_data

['stocks/2018/01\\01\\stocks.csv',
 'stocks/2018/01\\02\\stocks.csv',
 'stocks/2018/01\\03\\stocks.csv',
 'stocks/2018/01\\04\\stocks.csv',
 'stocks/2018/01\\05\\stocks.csv',
 'stocks/2018/01\\08\\stocks.csv',
 'stocks/2018/01\\09\\stocks.csv',
 'stocks/2018/01\\10\\stocks.csv',
 'stocks/2018/01\\11\\stocks.csv',
 'stocks/2018/01\\12\\stocks.csv',
 'stocks/2018/01\\16\\stocks.csv',
 'stocks/2018/01\\17\\stocks.csv',
 'stocks/2018/01\\18\\stocks.csv',
 'stocks/2018/01\\19\\stocks.csv',
 'stocks/2018/01\\22\\stocks.csv',
 'stocks/2018/01\\23\\stocks.csv',
 'stocks/2018/01\\24\\stocks.csv',
 'stocks/2018/01\\25\\stocks.csv',
 'stocks/2018/01\\26\\stocks.csv',
 'stocks/2018/01\\29\\stocks.csv',
 'stocks/2018/01\\30\\stocks.csv',
 'stocks/2018/01\\31\\stocks.csv',
 'stocks/2018/02\\01\\stocks.csv',
 'stocks/2018/02\\02\\stocks.csv',
 'stocks/2018/02\\05\\stocks.csv',
 'stocks/2018/02\\06\\stocks.csv',
 'stocks/2018/02\\07\\stocks.csv',
 'stocks/2018/02\\08\\stocks.csv',
 'stocks/2018/02\\09\\stocks.csv',
 'stocks/2018/02\\12\\stocks.csv',
 'stocks/2018/02\\13\\stocks.csv',
 'stocks/2018/02\\14\\stocks.csv',
 'stocks/2018/02\\15\\stocks.csv',
 'stocks/2018/02\\16\\stocks.csv',
 'stocks/2018/02\\20\\stocks.csv',
 'stocks/2018/02\\21\\stocks.csv',
 'stocks/2018/02\\22\\stocks.csv',
 'stocks/2018/02\\23\\stocks.csv',
 'stocks/2018/02\\26\\stocks.csv',
 'stocks/2018/02\\27\\stocks.csv',
 'stocks/2018/02\\28\\stocks.csv',
 'stocks/2018/03\\01\\stocks.csv',
 'stocks/2018/03\\02\\stocks.csv',
 'stocks/2018/03\\05\\stocks.csv',
 'stocks/2018/03\\06\\stocks.csv',
 'stocks/2018/03\\07\\stocks.csv',
 'stocks/2018/03\\08\\stocks.csv',
 'stocks/2018/03\\09\\stocks.csv',
 'stocks/2018/03\\12\\stocks.csv',
 'stocks/2018/03\\13\\stocks.csv',
 'stocks/2018/03\\14\\stocks.csv',
 'stocks/2018/03\\15\\stocks.csv',
 'stocks/2018/03\\16\\stocks.csv',
 'stocks/2018/03\\19\\stocks.csv',
 'stocks/2018/03\\20\\stocks.csv',
 'stocks/2018/03\\21\\stocks.csv',
 'stocks/2018/03\\22\\stocks.csv',
 'stocks/2018/03\\23\\stocks.csv',
 'stocks/2018/03\\26\\stocks.csv',
 'stocks/2018/03\\27\\stocks.csv',
 'stocks/2018/03\\28\\stocks.csv',
 'stocks/2018/03\\29\\stocks.csv',
 'stocks/2018/04\\02\\stocks.csv',
 'stocks/2018/04\\03\\stocks.csv',
 'stocks/2018/04\\04\\stocks.csv',
 'stocks/2018/04\\05\\stocks.csv',
 'stocks/2018/04\\06\\stocks.csv',
 'stocks/2018/04\\09\\stocks.csv',
 'stocks/2018/04\\10\\stocks.csv',
 'stocks/2018/04\\11\\stocks.csv',
 'stocks/2018/04\\12\\stocks.csv',
 'stocks/2018/04\\13\\stocks.csv',
 'stocks/2018/04\\16\\stocks.csv',
 'stocks/2018/04\\17\\stocks.csv',
 'stocks/2018/04\\18\\stocks.csv',
 'stocks/2018/04\\19\\stocks.csv',
 'stocks/2018/04\\20\\stocks.csv',
 'stocks/2018/04\\23\\stocks.csv',
 'stocks/2018/04\\24\\stocks.csv',
 'stocks/2018/04\\25\\stocks.csv',
 'stocks/2018/04\\26\\stocks.csv',
 'stocks/2018/04\\27\\stocks.csv',
 'stocks/2018/04\\30\\stocks.csv',
 'stocks/2018/05\\01\\stocks.csv',
 'stocks/2018/05\\02\\stocks.csv',
 'stocks/2018/05\\03\\stocks.csv',
 'stocks/2018/05\\04\\stocks.csv',
 'stocks/2018/05\\07\\stocks.csv',
 'stocks/2018/05\\08\\stocks.csv',
 'stocks/2018/05\\09\\stocks.csv',
 'stocks/2018/05\\10\\stocks.csv',
 'stocks/2018/05\\11\\stocks.csv',
 'stocks/2018/05\\14\\stocks.csv',
 'stocks/2018/05\\15\\stocks.csv',
 'stocks/2018/05\\16\\stocks.csv',
 'stocks/2018/05\\17\\stocks.csv',
 'stocks/2018/05\\18\\stocks.csv',
 'stocks/2018/05\\21\\stocks.csv',
 'stocks/2018/05\\22\\stocks.csv',
 'stocks/2018/05\\23\\stocks.csv',
 'stocks/2018/05\\24\\stocks.csv',
 'stocks/2018/05\\25\\stocks.csv',
 'stocks/2018/05\\29\\stocks.csv',
 'stocks/2018/05\\30\\stocks.csv',
 'stocks/2018/05\\31\\stocks.csv',
 'stocks/2018/06\\01\\stocks.csv',
 'stocks/2018/06\\04\\stocks.csv',
 'stocks/2018/06\\05\\stocks.csv',
 'stocks/2018/06\\06\\stocks.csv',
 'stocks/2018/06\\07\\stocks.csv',
 'stocks/2018/06\\08\\stocks.csv',
 'stocks/2018/06\\11\\stocks.csv',
 'stocks/2018/06\\12\\stocks.csv',
 'stocks/2018/06\\13\\stocks.csv',
 'stocks/2018/06\\14\\stocks.csv',
 'stocks/2018/06\\15\\stocks.csv',
 'stocks/2018/06\\18\\stocks.csv',
 'stocks/2018/06\\19\\stocks.csv',
 'stocks/2018/06\\20\\stocks.csv',
 'stocks/2018/06\\21\\stocks.csv',
 'stocks/2018/06\\22\\stocks.csv',
 'stocks/2018/06\\25\\stocks.csv',
 'stocks/2018/06\\26\\stocks.csv',
 'stocks/2018/06\\27\\stocks.csv',
 'stocks/2018/06\\28\\stocks.csv',
 'stocks/2018/06\\29\\stocks.csv',
 'stocks/2018/07\\02\\stocks.csv',
 'stocks/2018/07\\03\\stocks.csv',
 'stocks/2018/07\\05\\stocks.csv',
 'stocks/2018/07\\06\\stocks.csv',
 'stocks/2018/07\\09\\stocks.csv',
 'stocks/2018/07\\10\\stocks.csv',
 'stocks/2018/07\\11\\stocks.csv',
 'stocks/2018/07\\12\\stocks.csv',
 'stocks/2018/07\\13\\stocks.csv',
 'stocks/2018/07\\16\\stocks.csv',
 'stocks/2018/07\\17\\stocks.csv',
 'stocks/2018/07\\18\\stocks.csv',
 'stocks/2018/07\\19\\stocks.csv',
 'stocks/2018/07\\20\\stocks.csv',
 'stocks/2018/07\\23\\stocks.csv',
 'stocks/2018/07\\24\\stocks.csv',
 'stocks/2018/07\\25\\stocks.csv',
 'stocks/2018/07\\26\\stocks.csv',
 'stocks/2018/07\\27\\stocks.csv',
 'stocks/2018/07\\30\\stocks.csv',
 'stocks/2018/07\\31\\stocks.csv',
 'stocks/2018/08\\01\\stocks.csv',
 'stocks/2018/08\\02\\stocks.csv',
 'stocks/2018/08\\03\\stocks.csv',
 'stocks/2018/08\\06\\stocks.csv',
 'stocks/2018/08\\07\\stocks.csv',
 'stocks/2018/08\\08\\stocks.csv',
 'stocks/2018/08\\09\\stocks.csv',
 'stocks/2018/08\\10\\stocks.csv',
 'stocks/2018/08\\13\\stocks.csv',
 'stocks/2018/08\\14\\stocks.csv',
 'stocks/2018/08\\15\\stocks.csv',
 'stocks/2018/08\\16\\stocks.csv',
 'stocks/2018/08\\17\\stocks.csv',
 'stocks/2018/08\\20\\stocks.csv',
 'stocks/2018/08\\21\\stocks.csv',
 'stocks/2018/08\\22\\stocks.csv',
 'stocks/2018/08\\23\\stocks.csv',
 'stocks/2018/08\\24\\stocks.csv',
 'stocks/2018/08\\27\\stocks.csv',
 'stocks/2018/08\\28\\stocks.csv',
 'stocks/2018/08\\29\\stocks.csv',
 'stocks/2018/08\\30\\stocks.csv',
 'stocks/2018/08\\31\\stocks.csv',
 'stocks/2018/09\\04\\stocks.csv',
 'stocks/2018/09\\05\\stocks.csv',
 'stocks/2018/09\\06\\stocks.csv',
 'stocks/2018/09\\07\\stocks.csv',
 'stocks/2018/09\\10\\stocks.csv',
 'stocks/2018/09\\11\\stocks.csv',
 'stocks/2018/09\\12\\stocks.csv',
 'stocks/2018/09\\13\\stocks.csv',
 'stocks/2018/09\\14\\stocks.csv',
 'stocks/2018/09\\17\\stocks.csv',
 'stocks/2018/09\\18\\stocks.csv',
 'stocks/2018/09\\19\\stocks.csv',
 'stocks/2018/09\\20\\stocks.csv',
 'stocks/2018/09\\21\\stocks.csv',
 'stocks/2018/09\\24\\stocks.csv',
 'stocks/2018/09\\25\\stocks.csv',
 'stocks/2018/09\\26\\stocks.csv',
 'stocks/2018/09\\27\\stocks.csv',
 'stocks/2018/09\\28\\stocks.csv',
 'stocks/2018/10\\01\\stocks.csv',
 'stocks/2018/10\\02\\stocks.csv',
 'stocks/2018/10\\03\\stocks.csv',
 'stocks/2018/10\\04\\stocks.csv',
 'stocks/2018/10\\05\\stocks.csv',
 'stocks/2018/10\\08\\stocks.csv',
 'stocks/2018/10\\09\\stocks.csv',
 'stocks/2018/10\\10\\stocks.csv',
 'stocks/2018/10\\11\\stocks.csv',
 'stocks/2018/10\\12\\stocks.csv',
 'stocks/2018/10\\15\\stocks.csv',
 'stocks/2018/10\\16\\stocks.csv',
 'stocks/2018/10\\17\\stocks.csv',
 'stocks/2018/10\\18\\stocks.csv',
 'stocks/2018/10\\19\\stocks.csv',
 'stocks/2018/10\\22\\stocks.csv',
 'stocks/2018/10\\23\\stocks.csv',
 'stocks/2018/10\\24\\stocks.csv',
 'stocks/2018/10\\25\\stocks.csv',
 'stocks/2018/10\\26\\stocks.csv',
 'stocks/2018/10\\29\\stocks.csv',
 'stocks/2018/10\\30\\stocks.csv',
 'stocks/2018/10\\31\\stocks.csv',
 'stocks/2018/11\\01\\stocks.csv',
 'stocks/2018/11\\02\\stocks.csv',
 'stocks/2018/11\\05\\stocks.csv',
 'stocks/2018/11\\06\\stocks.csv',
 'stocks/2018/11\\07\\stocks.csv',
 'stocks/2018/11\\08\\stocks.csv',
 'stocks/2018/11\\09\\stocks.csv',
 'stocks/2018/11\\12\\stocks.csv',
 'stocks/2018/11\\13\\stocks.csv',
 'stocks/2018/11\\14\\stocks.csv',
 'stocks/2018/11\\15\\stocks.csv',
 'stocks/2018/11\\16\\stocks.csv',
 'stocks/2018/11\\19\\stocks.csv',
 'stocks/2018/11\\20\\stocks.csv',
 'stocks/2018/11\\21\\stocks.csv',
 'stocks/2018/11\\23\\stocks.csv',
 'stocks/2018/11\\26\\stocks.csv',
 'stocks/2018/11\\27\\stocks.csv',
 'stocks/2018/11\\28\\stocks.csv',
 'stocks/2018/11\\29\\stocks.csv',
 'stocks/2018/11\\30\\stocks.csv',
 'stocks/2018/12\\03\\stocks.csv',
 'stocks/2018/12\\04\\stocks.csv',
 'stocks/2018/12\\05\\stocks.csv',
 'stocks/2018/12\\06\\stocks.csv',
 'stocks/2018/12\\07\\stocks.csv',
 'stocks/2018/12\\10\\stocks.csv',
 'stocks/2018/12\\11\\stocks.csv',
 'stocks/2018/12\\12\\stocks.csv',
 'stocks/2018/12\\13\\stocks.csv',
 'stocks/2018/12\\14\\stocks.csv',
 'stocks/2018/12\\17\\stocks.csv',
 'stocks/2018/12\\18\\stocks.csv',
 'stocks/2018/12\\19\\stocks.csv',
 'stocks/2018/12\\20\\stocks.csv',
 'stocks/2018/12\\21\\stocks.csv',
 'stocks/2018/12\\24\\stocks.csv',
 'stocks/2018/12\\26\\stocks.csv',
 'stocks/2018/12\\27\\stocks.csv',
 'stocks/2018/12\\28\\stocks.csv',
 'stocks/2018/12\\31\\stocks.csv']

In [38]:
#TODO: Write your code here
df_1 = spark.read \
     .format('csv') \
     .option('header',True) \
     .load(stocks_data)

In [39]:
#INSERTED
df_1.show()

+----------+------------------+------------------+------------------+------------------+------------------+----------+-----+
|      Date|              Open|              High|               Low|             Close|         Adj Close|    Volume|stock|
+----------+------------------+------------------+------------------+------------------+------------------+----------+-----+
|2018-12-18| 68.44999694824219| 69.02999877929689| 67.38999938964844| 67.98999786376953| 67.07752990722656| 2112000.0|    A|
|2018-12-18|  28.1200008392334| 28.65999984741211| 28.09000015258789|28.239999771118164|28.239999771118164| 2107800.0|   AA|
|2018-12-18|32.470001220703125|33.650001525878906|32.470001220703125|33.540000915527344|33.006290435791016| 9117600.0|  AAL|
|2018-12-18| 41.27999877929688|              45.0| 41.27999877929688| 41.58000183105469| 41.58000183105469|    2100.0| AAMC|
|2018-12-18| 2.400000095367432|2.4200000762939453|2.3299999237060547|2.4200000762939453|2.4007937908172607|    7100.0| AAME|
|2018-12-18|              42.0|43.560001373291016|  41.5099983215332| 42.95000076293945|  42.7149658203125| 1325200.0|  AAN|
|2018-12-18|17.309999465942386| 17.68000030517578|15.140000343322756| 15.40999984741211| 15.40999984741211| 1744800.0| AAOI|
|2018-12-18| 34.40999984741211| 35.34000015258789| 34.40999984741211|34.630001068115234| 34.39919662475586|  147600.0| AAON|
|2018-12-18|             160.0|162.88999938964844| 157.8300018310547|158.24000549316406|157.49307250976562| 1312500.0|  AAP|
|2018-12-18| 165.3800048828125|167.52999877929688|164.38999938964844|166.07000732421875|  163.224365234375|33841500.0| AAPL|
|2018-12-18|              41.0|41.400001525878906|             40.75|41.099998474121094| 39.79087448120117|  297000.0|  AAT|
|2018-12-18|0.6299999952316284|0.6299999952316284|0.6000000238418579|0.6000000238418579|0.6000000238418579|  426100.0|  AAU|
|2018-12-18| 43.13999938964844|              43.5| 41.97999954223633| 42.11999893188477| 42.11999893188477|  441500.0| AAWW|
|2018-12-18| 44.43999862670898| 45.43000030517578| 44.13000106811523|44.459999084472656|44.459999084472656|  735100.0| AAXN|
|2018-12-18|25.420000076293945|26.559999465942386|25.420000076293945| 25.78000068664551| 23.25893592834473|  525100.0|   AB|
|2018-12-18|19.540000915527344| 19.63999938964844| 19.34000015258789| 19.40999984741211|17.860050201416016| 3064600.0|  ABB|
|2018-12-18| 85.45999908447266|              85.5| 82.80000305175781| 83.58000183105469| 76.92056274414062| 5288600.0| ABBV|
|2018-12-18| 77.45999908447266|  78.5999984741211| 75.41999816894531| 76.23999786376953| 74.46778106689453| 1327200.0|  ABC|
|2018-12-18| 31.61000061035156|32.450000762939446|31.149999618530273| 32.15999984741211| 31.43630599975586| 1413600.0| ABCB|
|2018-12-18| 7.429999828338622| 7.489999771118164| 6.860000133514403| 7.190000057220459| 7.190000057220459|  800500.0| ABEO|
+----------+------------------+------------------+------------------+------------------+------------------+----------+-----+
only showing top 20 rows

In [40]:
#INSERTED
df_1.describe().toPandas()

,summary,Date,Open,High,Low,Close,Adj Close,Volume,stock
0,count,1311162,1311118,1311118,1311118,1311118,1311118,1311118,1311162
1,mean,None,55.48896588188845,56.45080449303804,54.34396471886566,55.28243337438851,53.910175888754274,965055.8694282285,NaN
2,stddev,None,704.9310020290028,722.5984377721328,673.1269945625096,691.7624293700953,686.7290214997871,3676643.9922751426,NaN
3,min,2018-01-01,0.003000000026077032,0.0,0.0,0.003000000026077032,0.003000000026077032,0.0,A
4,max,2018-12-31,999.5,999.5,999.5,9990.0,9998.2626953125,9999500.0,ZYXI

## Update column names
To make the data easier to work with, you will need to make a few changes:
1. Column headers should all be in lowercase; and
2. Whitespaces should be replaced with underscores.


> ℹ️ **Instructions** ℹ️
>
>Make sure that the column headers are all in lowercase and that any whitespaces are replaced with underscores.
>
>*You may use as many coding cells as necessary.*

In [41]:
#TODO: Write your code here
for column in df_1.columns:
    df_1 = df_1.withColumnRenamed(column, '_'.join(column.split()).lower())

In [42]:
#INSERTED
df_1.columns

['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume', 'stock']

## Null Values
Null values often represent missing pieces of data. It is always good to know where your null values lie - so you can quickly identify and remedy any issues stemming from these.

> ℹ️ **Instructions** ℹ️
>
>Write code to count the number of null values found in each column.
>
>*You may use as many coding cells as necessary.*

In [43]:
#TODO: Write your code here
df_1_nVal = df_1.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df_1.columns])

In [44]:
#INSERTED
df_1_nVal.show()

+----+----+----+---+-----+---------+------+-----+
|date|open|high|low|close|adj_close|volume|stock|
+----+----+----+---+-----+---------+------+-----+
|   0|  44|  44| 44|   44|       44|    44|    0|
+----+----+----+---+-----+---------+------+-----+

## Data type conversion - The final data schema

Now that we have identified the number of missing values in the data set, we'll move on to convert our data schema to the required data types. 

> ℹ️ **Instructions** ℹ️
>
>Use typecasting to convert the string data types in your current data schema to more appropriate data types.
>
>*You may use as many coding cells as necessary.*

In [45]:
#TODO: Write your code here
schema = StructType([StructField('date', StringType(), True),
                     StructField('open', FloatType(), True),
                     StructField('high', FloatType(), True),
                     StructField('low', FloatType(), True),
                     StructField('close', FloatType(), True),
                     StructField('adj_close', FloatType(), True),
                     StructField('Volume', FloatType(), True),
                     StructField('stock', StringType(), True)])


df_2 = spark.read.csv(stocks_data, header=True, schema=schema, multiLine=True)

In [46]:
#INSERTED
df_2.show()

+----------+------+------+------+------+---------+---------+-----+
|      date|  open|  high|   low| close|adj_close|   Volume|stock|
+----------+------+------+------+------+---------+---------+-----+
|2018-12-18| 68.45| 69.03| 67.39| 67.99| 67.07753|2112000.0|    A|
|2018-12-18| 28.12| 28.66| 28.09| 28.24|    28.24|2107800.0|   AA|
|2018-12-18| 32.47| 33.65| 32.47| 33.54| 33.00629|9117600.0|  AAL|
|2018-12-18| 41.28|  45.0| 41.28| 41.58|    41.58|   2100.0| AAMC|
|2018-12-18|   2.4|  2.42|  2.33|  2.42|2.4007938|   7100.0| AAME|
|2018-12-18|  42.0| 43.56| 41.51| 42.95|42.714966|1325200.0|  AAN|
|2018-12-18| 17.31| 17.68| 15.14| 15.41|    15.41|1744800.0| AAOI|
|2018-12-18| 34.41| 35.34| 34.41| 34.63|34.399197| 147600.0| AAON|
|2018-12-18| 160.0|162.89|157.83|158.24|157.49307|1312500.0|  AAP|
|2018-12-18|165.38|167.53|164.39|166.07|163.22437|3.38415E7| AAPL|
|2018-12-18|  41.0|  41.4| 40.75|  41.1|39.790874| 297000.0|  AAT|
|2018-12-18|  0.63|  0.63|   0.6|   0.6|      0.6| 426100.0|  AAU|
|2018-12-18| 43.14|  43.5| 41.98| 42.12|    42.12| 441500.0| AAWW|
|2018-12-18| 44.44| 45.43| 44.13| 44.46|    44.46| 735100.0| AAXN|
|2018-12-18| 25.42| 26.56| 25.42| 25.78|23.258936| 525100.0|   AB|
|2018-12-18| 19.54| 19.64| 19.34| 19.41| 17.86005|3064600.0|  ABB|
|2018-12-18| 85.46|  85.5|  82.8| 83.58| 76.92056|5288600.0| ABBV|
|2018-12-18| 77.46|  78.6| 75.42| 76.24| 74.46778|1327200.0|  ABC|
|2018-12-18| 31.61| 32.45| 31.15| 32.16|31.436306|1413600.0| ABCB|
|2018-12-18|  7.43|  7.49|  6.86|  7.19|     7.19| 800500.0| ABEO|
+----------+------+------+------+------+---------+---------+-----+
only showing top 20 rows

In [47]:
#INSERTED (convert date from string format to time-stamp format)
df_2 = df_2.withColumn('date', F.to_timestamp(F.col('date')))

In [21]:
#INSERTED
df_2.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- open: float (nullable = true)
 |-- high: float (nullable = true)
 |-- low: float (nullable = true)
 |-- close: float (nullable = true)
 |-- adj_close: float (nullable = true)
 |-- Volume: float (nullable = true)
 |-- stock: string (nullable = true)

## Consolidate missing values
We have to check if the data type conversion above was done correctly.
If the casting was not successful, a null value gets inserted into the dataframe. You can thus check for successful conversion by determining if any null values are included in the resulting dataframe.


> ℹ️ **Instructions** ℹ️
>
>Write code to compare the number of invalid entries (nulls) pre-conversion and post-conversion.
>
>*You may use as many coding cells as necessary.*

In [22]:
#TODO: Write your code here
df_2_nVal = df_2.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df_2.columns])

df_1_nVal.show()
df_2_nVal.show()

+----+----+----+---+-----+---------+------+-----+
|date|open|high|low|close|adj_close|volume|stock|
+----+----+----+---+-----+---------+------+-----+
|   0|   9|   9|  9|    9|        9|     9|    0|
+----+----+----+---+-----+---------+------+-----+

+----+----+----+---+-----+---------+------+-----+
|date|open|high|low|close|adj_close|Volume|stock|
+----+----+----+---+-----+---------+------+-----+
|   0|   9|   9|  9|    9|        9|     9|    0|
+----+----+----+---+-----+---------+------+-----+

Here you should be able to see if any of your casts went wrong. 
Do not attempt to correct any missing values at this point. This will be dealt with in later sections of the predict.

## Generate parquet files
When writing in Spark, we typically use parquet format. This format allows parallel writing using Spark's optimisation while maintaining other useful things like metadata.

When writing, it is good to make sure that the data is sufficiently partitioned. 

Generally, data should be partitioned with one partition for every 200MB of data, but this also depends on the size of your cluster and executors.

### Check the size of the dataframe before partitioning

In [23]:
from pyspark.serializers import PickleSerializer, AutoBatchedSerializer

In [24]:
rdd = df.rdd._reserialize(AutoBatchedSerializer(PickleSerializer()))
obj = rdd.ctx._jvm.org.apache.spark.mllib.api.python.SerDe.pythonToJava(rdd._jrdd, True)
size = sc._jvm.org.apache.spark.util.SizeEstimator.estimate(obj)
size_MB = size/1000000
partitions = max(int(size_MB/200), 2)
print(f'The dataframe is {size_MB} MB')
print(f'partitions is {partitions}')

The dataframe is 10.745416 MB
partitions is 2

In [25]:
rdd.getNumPartitions()

1

### Write parquet files to the local directory
> ℹ️ **Instructions** ℹ️
>
> Use the **coalesce** function and the number of **partitions** derived above to write parquet files to your local directory 
>
>*You may use as many coding cells as necessary.*

In [26]:
#TODO: Write your code here
df_2.coalesce(partitions).write.parquet('transformed_data_2007')

In [27]:
spark.stop()